* {
	box-sizing: border-box;
	margin: 0px;
}
body{
	font: 17px Comic Sans MS, cursive, sans-serif;
	margin: 0px;
}
header>h1{
	margin: 40px;
	text-align: center;
	font-size: 50px;
	font: 35px Times New Roman, serif;
}
section{
	border: solid 1px black;
	background-color: #d3d3d3;
	margin: 20px
}
section>h2{
	font: 28px Times New Roman, serif;
	border: solid 1px black;
	border-right: 0px;
	border-top: 0px;
	height: 40px;
	width: 100px;
	float: right;
	text-align: center;
}
section>article{
	clear: right;
	padding: 14px;
	padding-top: 8px;
}
#Title1{
	background-color: #7bb569;
}
#Title2{
	background-color: #3f57f963;
}
#Title3{
	background-color: #ff69b4;
}
.row{
	width: 100%;
}
/*
	no need to do all case since we only use those below
*/
@media (min-width: 992px) {
	.desktop-4{
		float: left;
		width:33.33%;
	}
}
@media (min-width:768px) and (max-width: 991px) {
	.tablet-6, .tablet-12{
		float: left;
	}
	.tablet-12{
		width: 100%;
	}
	.tablet-6{
		width: 50%;
	}
}
@media (max-width:767px) {
	.mobile-12{
		float: left;
		width: 100%;
	}
}